/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap'); */

html {
    scroll-behavior: smooth;
  } 


body {
    margin: 0;
    /*   */
    background-color: #000000;
    overflow-x: hidden;
    
}

/* HEADER */
.header {
    background-color: #000000;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
    
}

/* LOGO */
.header img {
    height: 145px;
    display: block;
}

/* MENU */

.container ul {
    width: 600px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    color: #d4c8c8;
    font-size: medium;
}


a {
    color: #d4c8c8;
    text-decoration: none;
}

/* MENU LISTA */
li:hover {
    color: #b23a48;
    cursor: pointer;
    /* transform: scale(1.1);
    transition: all 0.3s; */
}

/* BANNER */
.banner img {
    height: 650px;
    width: 100%;
    object-fit: cover;
    opacity: .8;
    margin-top: 80px;
    position: relative;
    
}

.banner .text {
    /* position: relative; */
    position: absolute;
    justify-content: center;
    width: 100%;
    /* z-index: 5; */
    bottom: 380px; 
    display: flex;
    
}

.banner .text h1 {
    
    color: beige;
    font-family: 'Times New Roman', Times, serif;
    background: rgba(0, 0, 0, 0.5); 
    padding: 10px;
    
}

.text h1 {
    position: absolute;
    top: 50%;
}

p {
    color: aliceblue;
    text-align: center;
}

/* SEÇÃO BEM ESTAR */

.bemEstar {
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif        ;
}

.bemEstar h1 {

    color: beige;
    font-family: 'Times New Roman', Times, serif;
    /* background: rgba(0, 0, 0, 0.5);  */
    padding: 10px;
    top: 50%;
    justify-content: center;
    width: 100%;
    bottom: 150px; 
    display: flex;  
    font-size: xx-large;
}

.bemEstar p {
    font-size: x-large;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    color: beige; 
    color: beige;
    font-family: 'Times New Roman', Times, serif;
   
    padding: 10px;
}

.bemEstar .container {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    justify-content: space-between;
    margin-bottom: 5%;
}

.container .cards {
    border: solid;
    border-radius: 10px;
    background-color: #b23a48;
    border: none; 
    flex-direction: column-reverse;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 30px;
    justify-content: space-between;
}

.container .cards p {
    margin: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.cards:hover {
    transition: all 0.5s;
    transform: scale(1.1);
    cursor: pointer;
} 


/* CONTEUDO QUE APARECE QUANDO CLICA NOS CARDS */
.cards {
    position: relative;
    cursor: pointer;
   
   
}

.conteudo {
    display: none;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    width: 80%;
    padding: 15px;
    margin-bottom: 10%;
    background-color: #f2e9e4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.cards:hover .conteudo {
    display: block;
    overflow-y: hidden;
}

.conteudo span {
    margin: 0;
    color: rgb(29, 29, 27);
    font-size: small;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
/* FIM SEÇÃO BEM ESTAR */


/* DICAS */

.dicas {
    overflow-y: hidden;
}

.dicas img {
    
    height: 30vh;
    width: 100%;
    object-fit: cover;
    opacity: .6;
    margin-top: 10px;
    
    
}

.dicas .title {
    
    position: relative;
    justify-content: center;
    width: 100%;
    bottom: 150px; 
    display: flex;  
}

.dicas .title h1 {
    
    color: beige;
    font-family: 'Times New Roman', Times, serif;
    background: rgba(0, 0, 0, 0.5); 
    padding: 10px;
    
}

.title h1 {
    position: absolute;
    top: 50%;
    
}

.subTitulo {
    border: solid;
    border-radius: 10px;
    /* background-color: #282828; */
    border: none; 
    flex-direction: column-reverse;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 10px; */
    margin-top: 30px;
    justify-content: space-between;
}   

.subTitulo h2 {
    
    color: beige;
    font-weight: 500;
    font-size: x-large;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    
}

.topicos {
   
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;  
}


.topicos h1 {
    color: #b23a48;
    margin-bottom: 10px;
    text-transform: uppercase;
}


/* IMAGENS E TEXTOS  */
.textos {
    display: flex;
    align-items: center;
}

.topicos span {

    /* font-size: 1.875rem;
    line-height: 2.375rem; */
    line-height: 2.375rem;
    font-size: x-large;
    font-weight: 500;
    font-style: normal;
    color: beige;
    margin-right: 20px;
   
}

.imgDireita img {
    margin-top: 5%;
    margin-right: 20px; 
    width: 400px; 
    height: 340px;
    border-radius: 20px;
}


/* imagem  à esquerda */
.topicosEsquerda h1 {

    color: #b23a48;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}

.topicosEsquerda .textos {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.topicosEsquerda span {

    /* font-size: 1.875rem;
    line-height: 2.375rem; */
    line-height: 2.375rem;
    font-size: x-large;
    font-weight: 500;
    font-style: normal;
    color: beige;
    margin-left: 20px;
   
}

.imgEsquerda img {
    
    margin-top: 5%;
    margin-left: 20px; 
    width: 400px; 
    height: 340px;
    border-radius: 20px;
}

/* .imgEsquerda img:hover {
   
        transition: all 0.5s;
        transform: scale(1.1);
        cursor: pointer;
    
} */