
body {
    margin: 0;
    background-color: #000000;

    /* overflow-x: hidden; */
    /* overflow-y: hidden; */

}

/* HEADER */
.header {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
    width: 100%;
    height: 80px;

}

.header  {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* width: 80%; */
    /* margin: auto; */
}

/* LOGO */
.header img {
    height: 145px;
}

/* MENU */
.container ul {
    width: 600px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    color: #d4c8c8;
    font-size: medium;
   

}

a {
    color: #d4c8c8;
    text-decoration: none;
}

/* MENU LISTA */
li:hover {
    color: #b23a48;
    cursor: pointer;
    
}


/* BANNER */

.banner img {
    height: 650px;
    width: 100%;
    object-fit: cover;
    opacity: .8;
    margin-top: 80px;
    position: fixed;
    
}

.banner .text {
    position: sticky;
    position: relative;
    justify-content: center;
    width: 100%;
    z-index: 5;
    bottom: 380px; 
    display: flex;
    
}

.banner .text h1 {
    color: beige;
    font-family: 'Times New Roman', Times, serif;
    background: rgba(0, 0, 0, 0.5); 
    padding: 10px;
    
}








